body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1196px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:1192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u80 {
  position:absolute;
  left:196px;
  top:0px;
  width:44px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u81 {
  position:absolute;
  left:0px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:2px;
}
#u82 {
  position:absolute;
  left:147px;
  top:84px;
  width:753px;
  height:1px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-8px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:80px;
  top:75px;
  width:57px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u86 {
  position:absolute;
  left:177px;
  top:129px;
  width:279px;
  height:98px;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:41px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u88 {
  position:absolute;
  left:588px;
  top:129px;
  width:279px;
  height:98px;
  text-align:left;
  line-height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:19px;
  width:275px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:98px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u90 {
  position:absolute;
  left:177px;
  top:352px;
  width:279px;
  height:98px;
  text-align:left;
  line-height:20px;
}
#u91 {
  position:absolute;
  left:2px;
  top:19px;
  width:275px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:98px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u92 {
  position:absolute;
  left:589px;
  top:352px;
  width:279px;
  height:98px;
  text-align:left;
  line-height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:19px;
  width:275px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u94 {
  position:absolute;
  left:251px;
  top:0px;
  width:53px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u95 {
  position:absolute;
  left:0px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:44px;
}
#u96 {
  position:absolute;
  left:316px;
  top:156px;
  width:2px;
  height:41px;
}
#u97 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:44px;
  height:5px;
}
#u98 {
  position:absolute;
  left:296px;
  top:175px;
  width:41px;
  height:2px;
}
#u99 {
  position:absolute;
  left:2px;
  top:-7px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
